<ion-content>
<ion-card color="tertiary" class="card-position">
  <ion-card-header>
    Please enter your email:
  </ion-card-header>
  <ion-card-content>
    <ion-input placeholder="Email" type="email"></ion-input>
    <ion-button expand="block" color="secondary" (click)="recoverPassword()">Recover Password</ion-button>
    <ion-button fill="clear" size="large" class="back-button" href="/login">
      <ion-icon name="arrow-back-circle" class="back-button-icon"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
