<ion-content>
  <div class="login-label">
    <ion-label>
      <h1 class="ion-text-center">Penpals</h1>
    </ion-label>
  </div>
 <div class="login-bottom">
    <br />
    <ion-input placeholder="Username" type="username"></ion-input>
    <ion-input placeholder="Password" type="password"></ion-input>
    <ion-button expand="block" href="/home" color="secondary">Login</ion-button>
    <ion-button expand="block" href="/signup" fill="clear">Sign Up</ion-button>
    <ion-button expand="block" href="/forgotpw" fill="clear" color="danger">Forgot Password</ion-button>
    <br />
 </div>
</ion-content>

