.avatar-size {
    width: 70px;  
    height: 70px;
}

.send {
    bottom: 0%;
    position: fixed;
    width: 100%;
    border-radius: 3%;
}

.button-size {
    height: 30px;
    width: 30px;
}

.pal {
    right: 50% !important;
    left: 5% !important;
    width: auto;
    height: auto;
}

.pal-text {
    position: relative;
    left: 0;
    max-width: 70%;
    height: auto;
    background-color: #EDC1ED;
    padding: 3%;
    border-radius: 25px;
}

.user-text {
    position: relative;
    left: 30%;
    max-width: 70%;
    height: auto;
    background-color: #FACBD9;
    padding: 3%;
    border-radius: 25px;
}
