.header {
    font-size: large;
    text-align: center;
    border-bottom:2cm;
}

.img {
    padding-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 15%;
}

.icon-size1 {
    width: 30px;
    height: 30px;
}

.icon-size2 {
    width: 50px;
    height: 50px;
}
